<launch>
  <node name="imu_visualize" pkg="imu_visualize" type="imu_visualize" output="screen">
    <param name="Ros_rate" value="10" />
    <!-- slip Sensitivity -->
    <param name="Slip_ddq" value="1.0" />
    <param name="Slip_dq_over" value="1.0" />

    <param name="Slip_Delay" value ="4"/>

    <param name="notinit" value ="0"/>
    <!-- visualize graph 0 don't show 1 show -->
    <param name="do_visualize" value ="1"/>
    <param name="visual_length" value ="200"/>
    <param name="grid_block_y" value ="50"/>
    <param name="grid_block_x" value ="100"/>
    <param name="size_y" value ="10"/>
    <param name="size_x" value ="10"/>
    <param name="pixel_y" value ="600"/>
    <param name="pixel_x" value ="1100"/>
    <!-- topic name  -->
    <param name="subscribe_imu" value ="/imu_read"/>
    <param name="subscribe_robot" value ="/odom"/>
    <param name="publish_slip_topic_name" value ="/pub_slip_info"/>
  </node>
  <!-- <node name="settings_script" pkg="serialIMU" type="initialSettings.sh" output="screen"/> -->
</launch>